.teclado {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

.teclas {
    font-size: 7.2rem;

    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 9px

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.teclas:hover{
    background-color: greenyellow;
}
.tecla-0 {
    grid-column: 1/3;
}
